<%- include ("./share/head.ejs") %>
    </head>

    <body>
        <div class="wrapper">
            <%- include ("./share/sidebar.ejs") %>
                <div class="wrapper__main" id="main">
                    <div class="wrapper__main__header">
                        <span class="wrapper__main__header__title">User Profile</span>
                        <div class="wrapper__main__header__function"></div>
                        <div class="menu-toggle">
                            <button id="menu-toggle" class="btn btn-secondary"><i class="fa fa-bars" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="wrapper__main__content">
                        <div class="container-fluid" style="padding: 32px">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="wrapper__main__content__card">
                                        <div class="wrapper__main__content__card__banner">
                                            <img src="/images/admin/background.jpg" alt="" />
                                        </div>
                                        <div class="wrapper__main__content__card__content">
                                            <div class="wrapper__main__content__card__content__author">
                                                <img src="/images/admin/face-2.jpg" alt="" />
                                                <h4>Chet Faker</h4>
                                                <a href=""><small>@chetfaker</small></a>
                                            </div>
                                            <div class="wrapper__main__content__card__content__description">
                                                "I like the way you work it <br /> No diggity <br /> I wanna bag it up"
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper__main__content__member">
                                        <p class="wrapper__main__content__member__title">
                                            Team Members
                                        </p>
                                        <div class="wrapper__main__content__member__list">
                                            <div class="wrapper__main__content__member__list__item">
                                                <img src="/images/admin/face-0.jpg" alt="" />
                                                <div class="wrapper__main__content__member__list__item__info">
                                                    <span>Trinh Xuan Vy</span>
                                                    <span><i
                        class="fa fa-circle text-secondary"
                        aria-hidden="true"
                        ></i>
                        Offline</span
                    >
                    </div>
                </div>
                <div class="wrapper__main__content__member__list__item">
                    <img src="/images/admin/face-3.jpg" alt="" />
                    <div
                    class="wrapper__main__content__member__list__item__info"
                    >
                    <span>Trinh Xuan Vy</span>
                                                    <span><i
                        class="fa fa-circle text-success"
                        aria-hidden="true"
                        ></i>
                        Online</span
                    >
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-xl-8">
            <div class="wrapper__main__content__form">
                <p class="wrapper__main__content__form__title">
                Edit Profile
                </p>
                <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    disabled
                    />
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label"
                    >Password</label
                    >
                    <input
                    type="password"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="Abc@1234"
                    />
                </div>
                <div class="col-md-4">
                    <label for="inputFirstName" class="form-label"
                    >First Name</label
                    >
                    <input
                    type="text"
                    class="form-control"
                    id="inputFirstName"
                    placeholder="1234 Main St"
                    />
                </div>
                <div class="col-md-4">
                    <label for="inputLastName" class="form-label"
                    >Last Name</label
                    >
                    <input
                    type="text"
                    class="form-control"
                    id="inputLastName"
                    placeholder="Apartment, studio, or floor"
                    />
                </div>
                <div class="col-md-4 form-group">
                    <label for="" class="form-label">Date of Birth</label>
                    <div class="input-group date" id="datetimepicker1">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="mm/dd/yyyy"
                    />
                    <span class="input-group-addon">
                        <span class="input-group-text d-block">
                        <i class="fa fa-calendar"></i>
                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputCity" class="form-label">City</label>
                                                <input type="text" class="form-control" id="inputCity" />
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputState" class="form-label">State</label>
                                                <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                    </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="inputZip" class="form-label">Zip</label>
                                                <input type="text" class="form-control" id="inputZip" />
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">About Me</label>
                                                    <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="m-auto d-block btn btn-primary">
                    Update Profile
                    </button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include ("./share/scripts.ejs") %>
    </body>

    </html>