// Import SCSS
@import "./variable/index.scss";
@import "./mixin/index.scss";
@import "./function/index.scss";

// Xử lý header
.header {
  height: 76px;
  position: fixed;
  z-index: 100000;
  width: 100%;
  transition: 0.2s;

  @media screen and (max-width: $xl) {
    background-color: $c-mine-shaft;
  }

  &--modified {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__bar {
    display: none;
    cursor: pointer;
    @media screen and (max-width: $xl) {
      display: block;
    }

    .fa {
      color: $c-di-serria;
      font-size: 32px;
    }
  }

  &__brand {
    width: 200px;
    @media screen and (max-width: $xl) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__menu-list {
    margin-top: 0 !important;
    @media screen and (max-width: $xl) {
      display: block !important;
      position: absolute;
      top: 54px;
      left: 0;
      width: 100%;
      background-color: $c-mine-shaft;
      text-align: center;
      overflow: hidden;
      border-radius: 0 0 5px 5px;
      height: 0;
      transition: 0.2s;
      //display: none !important;
    }
    &__menu-item {
      &__menu-link {
        display: block;
        color: $c-white;
        padding: 10px;
        font-weight: bolder;
        text-transform: uppercase;
        transition: 0.2s;
        &:hover {
          color: $c-di-serria;
        }
      }
    }
  }

  @media screen and (max-width: $xl) {
    &__menu-list-responsive {
      height: 1000%;
    }
  }

  &__user {
    .fa {
      margin-left: auto;
      width: 32px;
      height: 32px;
      border-radius: 50px;
      background-color: $c-gallery;
      line-height: 32px;
      text-align: center;
    }
  }
}

.header--fixed {
  background-color: $c-mine-shaft;
}

// Xử lý banner
.banner {
  position: relative;
  text-align: center;

  @media screen and (max-width: $lg) {
    padding-top: 76px;
  }

  &__image {
    background: linear-gradient(rgba($c-black, 0.5), rgba($c-black, 0.5)),
      url("../images/banner.jpg") no-repeat center top;
    height: 100vh;
    width: 100%;
  }

  &__content {
    padding-top: 76px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);

    &__title {
      color: $c-di-serria;
      font-size: 48px;
      font-family: "Mansalva", sans-serif;

      @media screen and (max-width: $lg) {
        font-size: 32px;
      }
    }

    &__theme {
      color: $c-white;
      text-transform: uppercase;
      font-size: 40px;
      font-family: "Mansalva", sans-serif;
      @media screen and (max-width: $lg) {
        font-size: 26px;
      }
    }

    &__para {
      color: $c-white;
      font-size: 18px;

      @media screen and (max-width: $lg) {
        font-size: 16px;
      }
    }

    &__button {
      display: block;
      width: 180px;
      padding: 8px 0;
      color: $c-di-serria;
      border: 1px solid $c-di-serria;
      border-radius: 5px;
      margin: 32px auto;
      text-transform: uppercase;
      transition: 0.2s;
      &:hover {
        color: $c-white;
        background-color: $c-di-serria;
      }
    }

    &__scroll-mouse {
      width: 50px;
      height: 50px;
      margin: 16px auto;
      background: url("../images/ic_scoll.webp") no-repeat center;
      animation: scrollY 0.5s infinite alternate;

      @keyframes scrollY {
        0% {
          transform: translateY(-20px);
        }
        100% {
          transform: translateY(20px);
        }
      }
    }

    &__notice {
      color: $c-white;
    }
  }
}

// Xử lý products
.products {
  text-align: center;
  @include paddingContainer();

  @media screen and (min-width: $lg) {
    @include hoverBoxShadow();
  }

  @include headerItem(true, true, true);

  &__menu-list {
    &__item {
      margin-top: 24px;
      &__link {
        display: block;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 5px;
        border: 1px solid $c-gallery;

        @media screen and (min-width: $lg) {
          &:hover {
            box-shadow: 0px 10px 20px rgba($c-black, 0.1);

            .products__menu-list__item__link__detail {
              transform: translateY(0);
            }

            .products__menu-list__item__link__image img {
              transform: scale(1.1);
            }
          }
        }

        &__image {
          overflow: hidden;
          img {
            transition: 0.2s;
          }
        }

        &__detail {
          transition: 0.2s;
          padding: 16px;
          background-color: $c-gallery;

          @media screen and (min-width: $lg) {
            transform: translateY(56px);
          }

          &__name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bolder;
            color: $c-mine-shaft;
          }

          &__price {
            span {
              font-weight: bolder;
              &:nth-child(1) {
                color: $c-pesto;
              }

              &:nth-child(2) {
                margin-left: 8px;
                color: $c-silver;
              }
            }
          }

          &__button {
            border-radius: 5px;
            border: 1px solid $c-di-serria;
            transition: 0.2s;
            padding: 4px 0;
            width: 100px;
            color: $c-di-serria;
            display: inline-block;
            &:hover {
              background-color: $c-di-serria;
              color: $c-white;
            }
          }
        }
      }
    }
  }

  &__button-see-more {
    display: inline-block;
    width: 150px;
    padding: 8px 0;
    border: 1px solid $c-di-serria;
    color: $c-di-serria;
    border-radius: 5px;
    transition: 0.2s;
    margin-top: 32px;
    &:hover {
      color: $c-white;
      background-color: $c-di-serria;
    }
  }
}

// Xử lý voucher
.vouchers {
  text-align: center;
  @include paddingContainer();

  @media screen and (min-width: $lg) {
    @include hoverBoxShadow();
  }

  @include headerItem(true, false, true);

  &__menu-list {
    &__item {
      margin-top: 16px;
      padding: 8px;
      border: 1px solid $c-di-serria;
      border-radius: 5px;
      overflow: hidden;
      &__left {
        padding-right: 8px;
        border-right: 1px dashed $c-di-serria;
        position: relative;
        &__title {
          font-weight: bolder;
          color: $c-di-serria;
          margin-bottom: 4px;
        }
        &__info {
          color: $c-soft-amber;
          font-size: 14px;
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50px;
          border: 1px solid $c-di-serria;
          background-color: $c-di-serria;
          right: -8px;
        }

        &::before {
          top: -20px;
        }

        &::after {
          bottom: -20px;
        }
      }
      &__right {
        padding-left: 8px;
        &__price {
          font-size: 24px;
          color: $c-di-serria;
        }
        &__timeline {
          font-size: 14px;
          color: $c-silver;
        }
        &__button {
          width: 100px;
          background: linear-gradient(to right, $c-di-serria, $c-gold);
          color: $c-white;
          border-radius: 50px;
          padding: 4px 0;
          display: inline-block;
          margin-top: 8px;
          transition: 0.2s;
          &:hover {
            color: $c-white;
            box-shadow: 1px 1px 5px rgba($c-black, 0.2);
          }
        }
      }
    }
  }
}

// Xử lý intro
.intro {
  @include paddingContainer();

  @media screen and (min-width: $lg) {
    @include hoverBoxShadow();
  }
  text-align: center;

  &__item {
    @include headerItem(true, true, true);
    height: 90vh;
    margin-top: 16px;
    &:nth-child(1) {
      background: url("../images/banner_about_us.png") no-repeat center;
      background-size: cover;
      font-size: 14px;

      @media screen and (min-width: $md) {
        font-size: 16px;
      }
    }

    &:nth-child(2) {
      background: url("../images/img_home_franchise.png") no-repeat right;
      background-size: contain;
      padding: 0 16px;
      font-size: 14px;
      border: 5px solid $c-di-serria;

      @media screen and (min-width: $md) {
        padding-left: 80px;
        font-size: 16px;
      }
    }

    &__para {
      color: $c-mine-shaft;
    }

    &__btn-see-more {
      border-radius: 5px;
      width: 150px;
      display: inline-block;
      border: 1px solid $c-di-serria;
      color: $c-di-serria;
      transition: 0.2s;
      padding: 8px 0;
      font-weight: bolder;
      &:hover {
        background-color: $c-di-serria;
        color: $c-white;
      }
    }
  }
}

// Xử lý footer
.footer {
  @include paddingContainer();
  background: url("../images/ft_bg_img.png") no-repeat center;
  background-size: cover;
  position: relative;

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($c-mine-shaft, 0.86);
    z-index: 900;
  }

  p {
    margin-bottom: 8px;
    font-size: 15px;
    color: $c-white;
  }
  &__item {
    position: relative;
    z-index: 1000;
    &__title {
      color: $c-di-serria !important;
      text-transform: uppercase;
      font-weight: bolder;
      padding-bottom: 16px;
      font-size: 16px !important;
    }

    @media screen and (max-width: $lg) {
      &__brand {
        margin-bottom: 32px;
        img {
          width: 150px;
          margin: 0 auto;
          display: block;
        }
      }
    }

    .fa {
      color: $c-di-serria;
      margin-right: 8px;
    }

    &__social {
      margin-bottom: 8px;
    }

    &__download-app {
      &__link {
        margin-right: 8px;
        margin-top: 8px;
        display: inline-block;
        width: 150px;
      }
    }
  }

  &__expand {
    border-top: 1px solid $c-white;
    position: relative;
    padding-top: 32px;
    z-index: 1000;
    color: $c-white;
    @media screen and (max-width: $lg) {
      text-align: center;
    }

    &__right {
      @media screen and (min-width: $lg) {
        text-align: right;
      }
    }
  }
}
