// Import SCSS
@import "./variable/index.scss";
@import "./mixin/index.scss";
@import "./function/index.scss";

.header {
  background-color: $c-mine-shaft;
}

// Xử lý body
.body {
  padding-top: 92px;
  padding-bottom: 32px;
  &__item {
    border-radius: 5px;
    margin-bottom: 16px;
    @media screen and (min-width: $xl) {
      box-shadow: 0px 4px 10px rgba($c-black, 0.1);
    }

    @media screen and (max-width: $xl) {
      &--border {
        border: 1px solid $c-gallery;
      }
    }

    &__title {
      text-transform: uppercase;
      font-weight: bolder;
      color: $c-mine-shaft;
      padding: 8px 16px;
      border-bottom: 1px solid $c-gallery;

      &__link {
        text-transform: none;
        font-size: 12px;
        color: $c-silver !important;
      }
    }

    &__menu-list {
      padding: 8px 16px;

      &__link {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        color: $c-mine-shaft;
        border-bottom: 1px solid $c-gallery;

        &:last-child {
          border: none;
        }

        &__count {
        }
      }

      p {
        margin-bottom: 4px;
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding: 8px 0;
        border-bottom: 1px solid $c-gallery;

        &:last-child {
          border: none;
        }

        &__info {
          padding-right: 24px;
          &__name {
            font-weight: bolder;
          }

          &__topping {
            color: $c-silver;
          }

          &__cost {
            color: $c-di-serria;
          }
        }

        &__button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .fa {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $c-di-serria;
            color: $c-white;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
          }

          &__count {
            padding: 0 4px;
          }
        }

        &--clear-flex {
          display: block;
        }

        &__title {
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: bolder;
          cursor: pointer;
          color: $c-di-serria;
        }

        &--set-height {
          height: 0;
          transition: 0.2s;
          overflow: hidden;
          padding: 0;
        }

        .set-height {
          height: 100%;
          padding: 16px 0 0 0;
        }

        &__card {
          box-shadow: 0px 4px 10px rgba($c-black, 0.1);
          padding: 12px;
          border-radius: 5px;
          position: relative;
          margin: 0 0 24px 0;

          &__name {
            font-weight: bolder;
            margin-top: 8px;
          }

          &__price {
            color: $c-di-serria;
            del {
              margin-left: 4px;
              color: $c-silver;
            }
          }

          &__button {
            .fa {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              line-height: 20px;
              text-align: center;
              background-color: $c-di-serria;
              color: $c-white;
              position: absolute;
              bottom: 16px;
              right: 16px;
              cursor: pointer;
            }

            input {
              display: none;
            }
          }
        }
      }

      &__payment {
        background-color: $c-di-serria;
        color: $c-white;
        width: 150px;
        margin: 16px auto;
        border-radius: 5px;
        display: block;
      }
    }

    &--border-radius {
      border-radius: 5px;
    }

    &__search {
      padding: 16px;
      color: $c-mine-shaft;

      &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fa {
          width: 5%;
        }

        input {
          padding: 0 8px;
          width: 95%;
        }
      }
    }
  }
}

.container-popup {
  .popup {
    margin-top: 16px;
    position: fixed;
    z-index: 120000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 450px;
    box-shadow: 0px 0px 10px rgba($c-black, 0.5);
    background-color: $c-white;
    border-radius: 5px;
    height: 455px;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;

    &__close {
      position: absolute;
      top: 2px;
      right: 4px;

      .fa {
        font-size: 24px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__header {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 16px;
      padding: 16px 16px 0;

      &__left {
        width: 180px;
        margin-right: 16px;
        border-radius: 10px;
        overflow: hidden;
      }

      &__right {
        &__title {
          font-weight: bolder;
          padding-right: 16px;
        }

        &__price {
          color: $c-di-serria;
        }

        &__button {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &__number {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 16px;

            &__display {
              margin: 0 16px;
            }

            .fa {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              background-color: $c-di-serria;
              color: $c-white;
              cursor: pointer;
              line-height: 24px;
              text-align: center;
            }
          }

          &__link {
            padding: 4px 0;
            width: 100px;
            border-radius: 50px;
            background-color: $c-di-serria;
            color: $c-white;
            text-align: center;
          }
        }
      }
    }

    &__body {
      height: 222px;
      overflow-y: scroll;
      padding: 0 16px;

      &::-webkit-scrollbar {
        width: 6px;
        border: 1px solid $c-silver;
        border-radius: 50px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color: $c-di-serria;
      }

      &__item {
        margin-bottom: 8px;

        &__title {
          display: block;
          margin-bottom: 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: bolder;
          padding: 0 16px;
        }

        &__form-group {
          padding: 8px 16px;
          box-shadow: 0px 0px 10px rgba($c-black, 0.1);
          border-radius: 5px;

          &__item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            label {
              display: flex;
              align-items: center;
              padding: 4px 0;
              width: 50%;
              font-size: 14px;
              cursor: pointer;
              position: relative;

              input {
                margin-right: 8px;
                cursor: pointer;
              }
            }

            &__price {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .form-group-item--display {
            label {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.container-popup--toggle {
  &::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($c-silver, 0.5);
    z-index: 110000;
    transition: 0.2s;
  }

  .popup--toggle {
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
  }
}
