<div class="footer">
    <div class="container">
        <div class="row flex-wrap" style="margin-bottom: 16px;">
            <div class="col-xl-3 col-lg-3 col-12 footer__item">
                <div class="footer__item__brand">
                    <img src="images/ft_logo.png" alt="">
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-12 footer__item">
                <p class="footer__item__title">Công ty cp tm & DV taco việt nam</p>
                <div class="footer__item__menu-list">
                    <p class="footer__item__menu-list__item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        Tầng 2 tòa nhà T10, Times City Vĩnh Tuy, Hai Bà Trưng, Hà Nội.
                    </p>
                    <p class="footer__item__menu-list__item">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        1900.63.69.36
                    </p>
                    <p class="footer__item__menu-list__item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        info@tocotocotea.com
                    </p>
                </div>
                <p class="footer__item__para">
                    Số ĐKKD: 0106341306. Ngày cấp: 16/03/2017.
                </p>
                <p class="footer__item__para">
                    Nơi cấp: Sở kế hoạch và Đầu tư Thành phố Hà Nội.
                </p>
                <div class="footer__item__social">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
                <div class="footer__item__download-app">
                    <a href="" class="footer__item__download-app__link">
                        <img src="images/Googleplay.png" alt="">
                    </a>
                    <a href="" class="footer__item__download-app__link">
                        <img src="images/Appstore.png" alt="">
                    </a>
                    <a href="" class="footer__item__download-app__link">
                        <img src="images/bo_cong_thuong_grande.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-6 footer__item">
                <p class="footer__item__title">Về chúng tôi</p>
                <div class="footer__item__menu-list">
                    <p class="footer__item__menu-list__item">Giới thiệu về TocoToco</p>
                    <p class="footer__item__menu-list__item">Nhượng quyền</p>
                    <p class="footer__item__menu-list__item">Tin tức khuyến mại</p>
                    <p class="footer__item__menu-list__item">Cửa hàng</p>
                    <p class="footer__item__menu-list__item">Quy định chung</p>
                    <p class="footer__item__menu-list__item">TT liên hệ & ĐKKD</p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-6 footer__item">
                <p class="footer__item__title">Chính sách</p>
                <div class="footer__item__menu-list">
                    <p class="footer__item__menu-list__item">Chính sách thành viên</p>
                    <p class="footer__item__menu-list__item">Hình thức thanh toán</p>
                    <p class="footer__item__menu-list__item">Vận chuyển giao nhận</p>
                    <p class="footer__item__menu-list__item">Đổi trả và hoản tiền</p>
                    <p class="footer__item__menu-list__item">Bảo vệ thông tin cá nhân</p>
                    <p class="footer__item__menu-list__item">Duy trì, bảo hành</p>
                </div>
            </div>
        </div>
        <div class="footer__expand row">
            <div class="col-xl-7 col-lg-6 col-12 footer__expand__left">
                ToCoToCo - Thương hiệu trà sữa tiên phong sử dụng nguồn nông sản Việt Nam
            </div>
            <div class="col-xl-5 col-lg-6 col-12 footer__expand__right">
                Copyrights © 2019 by ToCoToCoTea. All rights reserved.
            </div>
        </div>
    </div>
    <div class="footer__cover"></div>
</div>