<div class="header d-flex align-items-center" id="header">
  <div class="container header--modified">
    <div class="header__bar" id="menu-toggle">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="header__brand">
      <a href="/"><img src="images/Logo-ngang-01.png" alt="" /></a>
    </div>
    <div
      class="header__menu-list d-flex justify-content-center align-items-center"
    >
      <li class="header__menu-list__menu-item">
        <a href="/" class="header__menu-list__menu-item__menu-link"
          >Trang chủ</a
        >
      </li>
      <li class="header__menu-list__menu-item">
        <a href="" class="header__menu-list__menu-item__menu-link"
          >Giới thiệu</a
        >
      </li>
      <li class="header__menu-list__menu-item">
        <a href="/order" class="header__menu-list__menu-item__menu-link"
          >Sản phẩm</a
        >
      </li>
      <li class="header__menu-list__menu-item">
        <a href="" class="header__menu-list__menu-item__menu-link">Tin tức</a>
      </li>
      <li class="header__menu-list__menu-item">
        <a href="" class="header__menu-list__menu-item__menu-link">Cửa hàng</a>
      </li>
      <li class="header__menu-list__menu-item">
        <a href="" class="header__menu-list__menu-item__menu-link"
          >Tuyển dụng</a
        >
      </li>
      <li class="header__menu-list__menu-item">
        <a href="" class="header__menu-list__menu-item__menu-link"
          >Nhượng quyền</a
        >
      </li>
    </div>
    <div class="header__user">
      <i class="fa fa-user" aria-hidden="true"></i>
      <div class="header__user__drop">
        <% if (!user) { %>
        <a href="/login" class="header__user__drop__link">Đăng nhập</a>
        <a href="/register" class="header__user__drop__link">Đăng ký</a>
        <% } else { %>
        <a href="/account" class="header__user__drop__link">Tài khoản</a>
        <a href="/logout" class="header__user__drop__link">Đăng xuất</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
