<div class="message-box">
  <% if (message?.type == "success") { %>
  <div class="alert success-alert animation">
    <div><%= message?.message %></div>
    <a class="close">&times;</a>
  </div>
  <% } else if (message?.type == "error") { %>
  <div class="alert danger-alert animation">
    <div><%= message?.message %></div>
    <a class="close">&times;</a>
  </div>
  <% } else if (message?.type == "warning") { %>
  <div class="alert warning-alert animation">
    <div><%= message?.message %></div>
    <a class="close">&times;</a>
  </div>
  <% } %>
</div>
