<%- include ("partials/head.ejs") %>
	<link rel="stylesheet" href="stylesheets/error.css">
    <link rel="stylesheet" href="stylesheets/custom.css">
  </head>

  <body>
    <div class="error">
      <section class="page_404">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-offset-1 text-center">
                <div class="four_zero_four_bg">
                  <h1 class="text-center">404</h1>
                </div>

                <div class="contant_box_404">
                  <h3 class="h2">Look like you're lost</h3>

                  <p>the page you are looking for not avaible!</p>
                </div>
                <a href="/" style="width: 150px; color: #ffffff; display: block; background-color: #76e940; padding: 8px 0; text-align: center; margin: 16px auto 0;">Back</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
