	<%- include ("partials/head.ejs") %> 
</head>
<body>
  <div class="header d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-2">
          <div class="header__brand">
            <img src="images/Logo-ngang-01.png" alt="" />
          </div>
        </div>
        <div class="col-xl-9 d-flex align-items-center justify-content-center">
          <div
            class="
              header__menu-list
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <li class="header__menu-list__menu-item">
              <a href="" class="header__menu-list__menu-item__menu-link"
                >Trang chủ</a
              >
            </li>
            <li class="header__menu-list__menu-item">
              <a href="" class="header__menu-list__menu-item__menu-link"
                >Giới thiệu</a
              >
            </li>
            <li class="header__menu-list__menu-item">
              <a href="" class="header__menu-list__menu-item__menu-link"
                >Sản phẩm</a
              >
            </li>
            <li class="header__menu-list__menu-item">
              <a href="" class="header__menu-list__menu-item__menu-link"
                >Tin tức</a
              >
            </li>
            <li class="header__menu-list__menu-item">
              <a href="" class="header__menu-list__menu-item__menu-link"
                >Cửa hàng</a
              >
            </li>
            <li class="header__menu-list__menu-item">
              <a href="" class="header__menu-list__menu-item__menu-link"
                >Tuyển dụng</a
              >
            </li>
            <li class="header__menu-list__menu-item">
              <a href="" class="header__menu-list__menu-item__menu-link"
                >Nhượng quyền</a
              >
            </li>
          </div>
        </div>
        <div class="col-xl-1 d-flex justify-content-end align-items-center">
          <div class="header__search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner">
    <div class="banner__image"></div>
    <div class="banner__content">
			<h1 class="banner__content__title">ToCoToCo Tea</h1>
			<h3 class="banner__content__theme">Đậm vị thiên nhiên trọn vị hạnh phúc</h3>
			<p class="banner__content__para">
				Với sứ mệnh mang tới niềm vui và hạnh phúc, TocoToco hy vọng sẽ tạo nên
				<br />
				một nét văn hóa giải trí bên cạnh ly trà sữa Ngon – sạch – tươi.
			</p>
			<a href="" class="banner__content__button">Đặt lịch ngay</a>
			<div class="banner__content__scroll-mouse"></div>
			<p class="banner__content__notice">Cuộn xuống</p>
		</div>
  </div>

  <%- include ("partials/script.ejs") %>
</body>
</html>