<%- include ("partials/head.ejs") %>
	<link rel="stylesheet" href="stylesheets/products.css">
	</head>

	<body>
		<%- include ("partials/menu-top.ejs") %> 

		<div class="body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3 col-lg-3">
						<div class="body__item body__item--border">
							<div class="body__item__title">DANH MỤC</div>
							<div class="body__item__menu-list">
								<a href="" class="body__item__menu-list__link">Món nổi bật <div
										class="body__item__menu-list__link__count">16</div></a>
								<a href="" class="body__item__menu-list__link">Trà sữa <div
										class="body__item__menu-list__link__count">23</div></a>
								<a href="" class="body__item__menu-list__link">Fresh Fruit Tea <div
										class="body__item__menu-list__link__count">7</div></a>
								<a href="" class="body__item__menu-list__link">Macchiato <div
										class="body__item__menu-list__link__count">6</div></a>
								<a href="" class="body__item__menu-list__link">Special Drink <div
										class="body__item__menu-list__link__count">7</div></a>
								<a href="" class="body__item__menu-list__link">Beauty Drinks <div
										class="body__item__menu-list__link__count">3</div></a>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6">
						<div class="body__item body__item--border body__item--border-radius">
							<div class="body__item__search">
								<form class="body__item__search__form">
									<i class="fa fa-search" aria-hidden="true"></i>
									<input type="text" name="search_name" placeholder="Tìm kiếm sản phẩm ...">
								</form>
							</div>
						</div>
						<div class="body__item body__item--border body__item--border-radius">
							<div class="body__item__menu-list">
								<div class="body__item__menu-list__item body__item__menu-list__item--clear-flex">
									<div class="body__item__menu-list__item__title">
										Món nổi bật
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</div>
									<div class="row flex-wrap body__item__menu-list__item--set-height set-height">
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="body__item__menu-list__item body__item__menu-list__item--clear-flex">
									<div class="body__item__menu-list__item__title">
										Trà sữa
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</div>
									<div class="row flex-wrap body__item__menu-list__item--set-height set-height">
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-6">
											<div class="body__item__menu-list__item__card">
												<div class="body__item__menu-list__item__card__image">
													<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
												</div>
												<p class="body__item__menu-list__item__card__name">Sữa chua thanh long hạt dẻ</p>
												<p class="body__item__menu-list__item__card__price">29.000đ <del>35.000đ</del></p>
												<div class="body__item__menu-list__item__card__button">
													<input type="text" value="1">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3">
						<div class="body__item body__item--border">
							<div class="body__item__title d-flex align-items-center justify-content-between">GIỎ HÀNG
								CỦA TÔI
								<a href="" class="body__item__title__link">Xóa tất cả</a>
							</div>
							<div class="body__item__menu-list">
								<div class="body__item__menu-list__item">
									<div class="body__item__menu-list__item__info">
										<p class="body__item__menu-list__item__info__name">Sữa Chua Dâu Tằm Hoàng Kim
											(M)</p>
										<p class="body__item__menu-list__item__info__topping">Không đường, Không đá,
											thêm trân châu đen</p>
										<div class="body__item__menu-list__item__info__cost">160.000đ x 4 = 540.000đ</i>
										</div>
									</div>
									<div class="body__item__menu-list__item__button">
										<i class="fa fa-minus" aria-hidden="true"></i>
										<div class="body__item__menu-list__item__button__count">4</div>
										<i class="fa fa-plus" aria-hidden="true"></i>
									</div>
								</div>
								<div class="body__item__menu-list__item">
									<div class="body__item__menu-list__item__info">
										<p class="body__item__menu-list__item__info__name">Sữa Chua Dâu Tằm Hoàng Kim
											(M)</p>
										<p class="body__item__menu-list__item__info__topping">Không đường, Không đá,
											thêm trân châu đen</p>
										<div class="body__item__menu-list__item__info__cost">160.000đ x 4 = 540.000đ</i>
										</div>
									</div>
									<div class="body__item__menu-list__item__button">
										<i class="fa fa-minus" aria-hidden="true"></i>
										<div class="body__item__menu-list__item__button__count">4</div>
										<i class="fa fa-plus" aria-hidden="true"></i>
									</div>
								</div>

								<form class="" action="" method="">
									<button class="body__item__menu-list__payment" type="submit">Thanh toán</button>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	<form class="container-popup">
		<div class="popup">
			<div class="popup__close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="popup__header">
				<div class="popup__header__left">
					<img src="images/sua-chua-thanh-long-hat-de.png" alt="">
				</div>
				<div class="popup__header__right">
					<h5 class="popup__header__right__title">Probi Xoài Trân Châu Sương Mai</h5>
					<p class="popup__header__right__price">29.000 <del style="font-size: 12px; color: #333;">42.000</del></p>
					<p class="popup__header__right__info"><i>Chưa có thông tin.</i></p>
					<div class="popup__header__right__button">
						<div class="popup__header__right__button__number">
							<i class="fa fa-minus" aria-hidden="true"></i>
							<div class="popup__header__right__button__number__display">1</div>
							<i class="fa fa-plus" aria-hidden="true"></i>
						</div>
						<button type="submit" class="popup__header__right__button__link">+ 29.000đ</button>
					</div>
				</div>
			</div>
			<div class="popup__body">
				<div class="popup__body__item">
					<span class="popup__body__item__title">Chọn loại <i class="fa fa-angle-down" aria-hidden="true"></i></span>
					<div class="popup__body__item__form-group">
						<div class="popup__body__item__form-group__item">
							<label for="type-1">
								<input type="radio" name="type" id="type-1" value="Lạnh">
								<span class="popup__body__item__form-group__item__name">Lạnh</span>
							</label>
							<label for="type-2">
								<input type="radio" name="type" id="type-2" value="Không lạnh">
								<span class="popup__body__item__form-group__item__name">Không lạnh</span>
							</label>
						</div>
					</div>
				</div>
				<div class="popup__body__item">
					<span class="popup__body__item__title">Chọn size <i class="fa fa-angle-down" aria-hidden="true"></i></span>
					<div class="popup__body__item__form-group">
						<div class="popup__body__item__form-group__item">
							<label for="size-1">
								<input type="radio" name="size" id="size-1" value="Size M">
								<span class="popup__body__item__form-group__item__name">Size M</span>
							</label>
							<label for="size-2">
								<input type="radio" name="size" id="size-2" value="Size L">
								<span class="popup__body__item__form-group__item__name">Size L</span>
							</label>
						</div>
					</div>
				</div>
				<div class="popup__body__item">
					<span class="popup__body__item__title">Chọn đường <i class="fa fa-angle-down" aria-hidden="true"></i></span>
					<div class="popup__body__item__form-group">
						<div class="popup__body__item__form-group__item">
							<label for="sugar-1">
								<input type="radio" name="sugar" id="sugar-1" value="100%">
								<span class="popup__body__item__form-group__item__name">100% đường</span>
							</label>
							<label for="sugar-2">
								<input type="radio" name="sugar" id="sugar-2" value="70%">
								<span class="popup__body__item__form-group__item__name">70% đường</span>
							</label>
							<label for="sugar-3">
								<input type="radio" name="sugar" id="sugar-3" value="50%">
								<span class="popup__body__item__form-group__item__name">50% đường</span>
							</label>
							<label for="sugar-4">
								<input type="radio" name="sugar" id="sugar-4" value="30%">
								<span class="popup__body__item__form-group__item__name">30% đường</span>
							</label>
							<label for="sugar-5">
								<input type="radio" name="sugar" id="sugar-5" value="Không đường">
								<span class="popup__body__item__form-group__item__name">Không đường</span>
							</label>
						</div>
					</div>
				</div>
				<div class="popup__body__item">
					<span class="popup__body__item__title">Chọn đá <i class="fa fa-angle-down" aria-hidden="true"></i></span>
					<div class="popup__body__item__form-group">
						<div class="popup__body__item__form-group__item">
							<label for="ice-1">
								<input type="radio" name="ice" id="ice-1" value="100%">
								<span class="popup__body__item__form-group__item__name">100% đá</span>
							</label>
							<label for="ice-2">
								<input type="radio" name="ice" id="ice-2" value="50%">
								<span class="popup__body__item__form-group__item__name">50% đá</span>
							</label>
						</div>
					</div>
				</div>
				<div class="popup__body__item">
					<span class="popup__body__item__title">Chọn topping <i class="fa fa-angle-down" aria-hidden="true"></i></span>
					<div class="popup__body__item__form-group">
						<div class="popup__body__item__form-group__item form-group-item--display">
							<label for="topping_1">
								<input type="checkbox" name="topping_1" id="topping_1" value="1">
								<span class="popup__body__item__form-group__item__name">Thêm hạt dẻ</span>
								<span class="popup__body__item__form-group__item__price">+ 8.000đ</span>
							</label>
							<label for="topping_2">
								<input type="checkbox" name="topping_2" id="topping_2" value="2">
								<span class="popup__body__item__form-group__item__name">Thêm trân châu sương mai</span>
								<span class="popup__body__item__form-group__item__price">+ 9.000đ</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	

	<%- include ("partials/footer.ejs") %>

	<%- include ("partials/script.ejs") %>
</body>

	</html>