.header {
  height: 76px;
  position: fixed;
  z-index: 100000;
  width: 100%;
  transition: 0.2s; }
  @media screen and (max-width: 1200px) {
    .header {
      background-color: #282828; } }
  .header--modified {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .header__bar {
    display: none;
    cursor: pointer; }
    @media screen and (max-width: 1200px) {
      .header__bar {
        display: block; } }
    .header__bar .fa {
      color: #d2a451;
      font-size: 32px; }
  .header__brand {
    width: 200px; }
    @media screen and (max-width: 1200px) {
      .header__brand {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .header__menu-list {
    margin-top: 0 !important; }
    @media screen and (max-width: 1200px) {
      .header__menu-list {
        display: block !important;
        position: absolute;
        top: 54px;
        left: 0;
        width: 100%;
        background-color: #282828;
        text-align: center;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        height: 0;
        transition: 0.2s; } }
    .header__menu-list__menu-item__menu-link {
      display: block;
      color: #ffffff;
      padding: 10px;
      font-weight: bolder;
      text-transform: uppercase;
      transition: 0.2s; }
      .header__menu-list__menu-item__menu-link:hover {
        color: #d2a451; }
  @media screen and (max-width: 1200px) {
    .header__menu-list-responsive {
      height: 1000%; } }
  .header__user {
    position: relative; }
    .header__user:hover .header__user__drop {
      display: block; }
    .header__user .fa {
      margin-left: auto;
      width: 32px;
      height: 32px;
      border-radius: 50px;
      background-color: #f0f0f0;
      line-height: 32px;
      text-align: center;
      cursor: pointer; }
    .header__user__drop {
      position: absolute;
      width: 100px;
      background-color: #ffffff;
      padding: 8px;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      right: 0;
      display: none; }
      .header__user__drop__link {
        display: block;
        font-size: 14px;
        color: #d2a451; }

.header--fixed {
  background-color: #282828; }

.banner {
  position: relative;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .banner {
      padding-top: 76px; } }
  .banner__image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg") no-repeat center top;
    height: 100vh;
    width: 100%; }
  .banner__content {
    padding-top: 76px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%); }
    .banner__content__title {
      color: #d2a451;
      font-size: 48px;
      font-family: "Mansalva", sans-serif; }
      @media screen and (max-width: 992px) {
        .banner__content__title {
          font-size: 32px; } }
    .banner__content__theme {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 40px;
      font-family: "Mansalva", sans-serif; }
      @media screen and (max-width: 992px) {
        .banner__content__theme {
          font-size: 26px; } }
    .banner__content__para {
      color: #ffffff;
      font-size: 18px; }
      @media screen and (max-width: 992px) {
        .banner__content__para {
          font-size: 16px; } }
    .banner__content__button {
      display: block;
      width: 180px;
      padding: 8px 0;
      color: #d2a451;
      border: 1px solid #d2a451;
      border-radius: 5px;
      margin: 32px auto;
      text-transform: uppercase;
      transition: 0.2s; }
      .banner__content__button:hover {
        color: #ffffff;
        background-color: #d2a451; }
    .banner__content__scroll-mouse {
      width: 50px;
      height: 50px;
      margin: 16px auto;
      background: url("../images/ic_scoll.webp") no-repeat center;
      animation: scrollY 0.5s infinite alternate; }

@keyframes scrollY {
  0% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(20px); } }
    .banner__content__notice {
      color: #ffffff; }

.products {
  text-align: center;
  padding: 32px 0; }
  @media screen and (min-width: 992px) {
    .products {
      transition: 0.2s; }
      .products:hover {
        box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.2); } }
  .products__header {
    text-align: center; }
    .products__header__title {
      text-transform: uppercase;
      font-weight: bolder; }
    .products__header__theme {
      font-size: 20px;
      font-weight: bolder;
      color: #d2a451; }
    .products__header__image {
      width: 315px;
      margin: 0 auto; }
  .products__menu-list__item {
    margin-top: 24px; }
    .products__menu-list__item__link {
      display: block;
      overflow: hidden;
      transition: 0.2s;
      border-radius: 5px;
      border: 1px solid #f0f0f0; }
      @media screen and (min-width: 992px) {
        .products__menu-list__item__link:hover {
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }
          .products__menu-list__item__link:hover .products__menu-list__item__link__detail {
            transform: translateY(0); }
          .products__menu-list__item__link:hover .products__menu-list__item__link__image img {
            transform: scale(1.1); } }
      .products__menu-list__item__link__image {
        overflow: hidden; }
        .products__menu-list__item__link__image img {
          transition: 0.2s; }
      .products__menu-list__item__link__detail {
        transition: 0.2s;
        padding: 16px;
        background-color: #f0f0f0; }
        @media screen and (min-width: 992px) {
          .products__menu-list__item__link__detail {
            transform: translateY(56px); } }
        .products__menu-list__item__link__detail__name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: bolder;
          color: #282828; }
        .products__menu-list__item__link__detail__price span {
          font-weight: bolder; }
          .products__menu-list__item__link__detail__price span:nth-child(1) {
            color: #8a733f; }
          .products__menu-list__item__link__detail__price span:nth-child(2) {
            margin-left: 8px;
            color: #bebebe; }
        .products__menu-list__item__link__detail__button {
          border-radius: 5px;
          border: 1px solid #d2a451;
          transition: 0.2s;
          padding: 4px 0;
          width: 100px;
          color: #d2a451;
          display: inline-block; }
          .products__menu-list__item__link__detail__button:hover {
            background-color: #d2a451;
            color: #ffffff; }
  .products__button-see-more {
    display: inline-block;
    width: 150px;
    padding: 8px 0;
    border: 1px solid #d2a451;
    color: #d2a451;
    border-radius: 5px;
    transition: 0.2s;
    margin-top: 32px; }
    .products__button-see-more:hover {
      color: #ffffff;
      background-color: #d2a451; }

.vouchers {
  text-align: center;
  padding: 32px 0; }
  @media screen and (min-width: 992px) {
    .vouchers {
      transition: 0.2s; }
      .vouchers:hover {
        box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.2); } }
  .vouchers__header {
    text-align: center; }
    .vouchers__header__title {
      text-transform: uppercase;
      font-weight: bolder; }
    .vouchers__header__image {
      width: 315px;
      margin: 0 auto; }
  .vouchers__menu-list__item {
    margin-top: 16px;
    padding: 8px;
    border: 1px solid #d2a451;
    border-radius: 5px;
    overflow: hidden; }
    .vouchers__menu-list__item__left {
      padding-right: 8px;
      border-right: 1px dashed #d2a451;
      position: relative; }
      .vouchers__menu-list__item__left__title {
        font-weight: bolder;
        color: #d2a451;
        margin-bottom: 4px; }
      .vouchers__menu-list__item__left__info {
        color: #ccbeb1;
        font-size: 14px; }
      .vouchers__menu-list__item__left::after, .vouchers__menu-list__item__left::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        border: 1px solid #d2a451;
        background-color: #d2a451;
        right: -8px; }
      .vouchers__menu-list__item__left::before {
        top: -20px; }
      .vouchers__menu-list__item__left::after {
        bottom: -20px; }
    .vouchers__menu-list__item__right {
      padding-left: 8px; }
      .vouchers__menu-list__item__right__price {
        font-size: 24px;
        color: #d2a451; }
      .vouchers__menu-list__item__right__timeline {
        font-size: 14px;
        color: #bebebe; }
      .vouchers__menu-list__item__right__button {
        width: 100px;
        background: linear-gradient(to right, #d2a451, #ffd200);
        color: #ffffff;
        border-radius: 50px;
        padding: 4px 0;
        display: inline-block;
        margin-top: 8px;
        transition: 0.2s; }
        .vouchers__menu-list__item__right__button:hover {
          color: #ffffff;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }

.intro {
  padding: 32px 0;
  text-align: center; }
  @media screen and (min-width: 992px) {
    .intro {
      transition: 0.2s; }
      .intro:hover {
        box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.2); } }
  .intro__item {
    height: 90vh;
    margin-top: 16px; }
    .intro__item__header {
      text-align: center; }
      .intro__item__header__title {
        text-transform: uppercase;
        font-weight: bolder; }
      .intro__item__header__theme {
        font-size: 20px;
        font-weight: bolder;
        color: #d2a451; }
      .intro__item__header__image {
        width: 315px;
        margin: 0 auto; }
    .intro__item:nth-child(1) {
      background: url("../images/banner_about_us.png") no-repeat center;
      background-size: cover;
      font-size: 14px; }
      @media screen and (min-width: 768px) {
        .intro__item:nth-child(1) {
          font-size: 16px; } }
    .intro__item:nth-child(2) {
      background: url("../images/img_home_franchise.png") no-repeat right;
      background-size: contain;
      padding: 0 16px;
      font-size: 14px;
      border: 5px solid #d2a451; }
      @media screen and (min-width: 768px) {
        .intro__item:nth-child(2) {
          padding-left: 80px;
          font-size: 16px; } }
    .intro__item__para {
      color: #282828; }
    .intro__item__btn-see-more {
      border-radius: 5px;
      width: 150px;
      display: inline-block;
      border: 1px solid #d2a451;
      color: #d2a451;
      transition: 0.2s;
      padding: 8px 0;
      font-weight: bolder; }
      .intro__item__btn-see-more:hover {
        background-color: #d2a451;
        color: #ffffff; }

.events {
  padding: 32px 0; }
  @media screen and (min-width: 992px) {
    .events {
      transition: 0.2s; }
      .events:hover {
        box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.2); } }
  .events__header {
    text-align: center; }
    .events__header__title {
      text-transform: uppercase;
      font-weight: bolder; }
    .events__header__theme {
      font-size: 20px;
      font-weight: bolder;
      color: #d2a451; }
    .events__header__image {
      width: 315px;
      margin: 0 auto; }
  .events__body {
    padding-top: 32px; }
    .events__body__land__item {
      background-color: #f0f0f0;
      padding-bottom: 4px;
      margin-bottom: 16px;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.1); }
      .events__body__land__item__image {
        margin-bottom: 16px; }
      .events__body__land__item__title {
        font-weight: bolder;
        color: #d2a451;
        padding: 0 16px;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .events__body__land__item__para {
        padding: 0 16px;
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
        .events__body__land__item__para img {
          width: 16px;
          height: 16px; }
      .events__body__land__item__link {
        margin: 8px 16px;
        padding: 8px 0;
        text-align: center;
        display: block;
        width: 150px;
        color: #d2a451;
        border-radius: 5px;
        border: 1px solid #d2a451;
        transition: 0.2s; }
        .events__body__land__item__link:hover {
          background-color: #d2a451;
          color: #ffffff; }
      .events__body__land__item__list {
        display: block;
        padding-bottom: 8px;
        margin-bottom: 16px;
        background-color: #f0f0f0;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.1); }
  .events__button-see-more {
    display: block;
    width: 150px;
    padding: 8px 0;
    border: 1px solid #d2a451;
    color: #d2a451;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
    margin: 16px auto; }
    .events__button-see-more:hover {
      color: #ffffff;
      background-color: #d2a451; }

.footer {
  padding: 32px 0;
  background: url("../images/ft_bg_img.png") no-repeat center;
  background-size: cover;
  position: relative; }
  .footer__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.86);
    z-index: 900; }
  .footer p {
    margin-bottom: 8px;
    font-size: 15px;
    color: #ffffff; }
  .footer__item {
    position: relative;
    z-index: 1000; }
    .footer__item__title {
      color: #d2a451 !important;
      text-transform: uppercase;
      font-weight: bolder;
      padding-bottom: 16px;
      font-size: 16px !important; }
    @media screen and (max-width: 992px) {
      .footer__item__brand {
        margin-bottom: 32px; }
        .footer__item__brand img {
          width: 150px;
          margin: 0 auto;
          display: block; } }
    .footer__item .fa {
      color: #d2a451;
      margin-right: 8px; }
    .footer__item__social {
      margin-bottom: 8px; }
    .footer__item__download-app__link {
      margin-right: 8px;
      margin-top: 8px;
      display: inline-block;
      width: 150px; }
  .footer__expand {
    border-top: 1px solid #ffffff;
    position: relative;
    padding-top: 32px;
    z-index: 1000;
    color: #ffffff; }
    @media screen and (max-width: 992px) {
      .footer__expand {
        text-align: center; } }
    @media screen and (min-width: 992px) {
      .footer__expand__right {
        text-align: right; } }
