.header {
  height: 76px;
  position: fixed;
  z-index: 100000;
  width: 100%; }
  .header__menu-list {
    margin-top: 0 !important; }
    .header__menu-list__menu-item__menu-link {
      color: #ffffff;
      padding: 10px;
      font-weight: bolder;
      text-transform: uppercase;
      transition: 0.2s; }
      .header__menu-list__menu-item__menu-link:hover {
        color: #D2A451; }
  .header__search .fa {
    margin-left: auto;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #f0f0f0;
    line-height: 32px;
    text-align: center; }

.banner {
  font-family: "Lobster", sans-serif;
  position: relative;
  text-align: center; }
  .banner__image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ms_banner_img1.jpg") no-repeat center;
    height: 100vh;
    width: 100%; }
  .banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .banner__content__title {
      color: #D2A451;
      font-size: 48px; }
    .banner__content__theme {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 32px; }
    .banner__content__scroll-mouse {
      width: 50px;
      height: 50px;
      background: url("../images/ic_scoll.webp") no-repeat center;
      animation: scrollY 0.5s infinite alternate; }

@keyframes scrollY {
  0% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(20px); } }
    .banner__content__notice {
      font-size: 12px; }
