@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
h3 {
  font-family: Quicksand; }

.alert {
  margin: 20px auto;
  padding: 16px;
  position: fixed;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  bottom: 92px;
  right: 16px;
  z-index: 100000;
  display: flex;
  align-items: center; }

.close {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  right: 15px;
  margin-left: 8px;
  font-size: 1.6em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes showMessagebBox {
  0% {
    right: 16px; }
  25% {
    right: 16px; }
  50% {
    right: 16px; }
  75% {
    right: -20%; }
  100% {
    right: -50%; } }

.simple-alert {
  background-color: #ebebeb;
  border-left: 5px solid #6c6c6c; }
  .simple-alert .close {
    border-color: #6c6c6c;
    color: #6c6c6c; }

.success-alert {
  background-color: #a8f0c6;
  border-left: 5px solid #178344; }
  .success-alert .close {
    border-color: #178344;
    color: #178344; }

.danger-alert {
  background-color: #f7a7a3;
  border-left: 5px solid #8f130c; }
  .danger-alert .close {
    border-color: #8f130c;
    color: #8f130c; }

.warning-alert {
  background-color: #ffd48a;
  border-left: 5px solid #8a5700; }
  .warning-alert .close {
    border-color: #8a5700;
    color: #8a5700; }
