.header {
  background-color: #282828; }

.payment {
  padding-top: 92px;
  padding-bottom: 32px; }
  .payment__item__header {
    text-transform: uppercase;
    color: #d2a451;
    font-weight: bolder;
    font-size: 24px;
    display: block;
    text-align: center; }
  .payment__item__body__item__title {
    font-weight: bolder;
    text-transform: uppercase; }
  .payment__item__body__item__total {
    font-weight: bolder;
    font-size: 24px;
    color: #d2a451;
    display: block;
    text-align: right; }
  .payment__item__body__item__checkout {
    background-color: #d2a451;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    display: block;
    width: 180px;
    margin-left: auto;
    text-align: center; }
  .payment__item__body__item .link-item {
    color: #ffffff; }
  .payment__item__body__form {
    padding: 0 16px; }
    .payment__item__body__form__item {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .payment__item__body__form__item span {
        color: #d2a451;
        font-weight: bolder; }
      .payment__item__body__form__item input {
        border: 1px solid #d2a451;
        padding: 8px 16px;
        border-radius: 5px;
        width: 70%;
        color: #d2a451; }
      .payment__item__body__form__item__select {
        border: 1px solid #d2a451;
        padding: 8px 16px;
        border-radius: 5px;
        width: 70%;
        color: #d2a451; }
  .payment__item__message {
    text-align: center;
    display: block; }
