@import "./variables";
.wrapper {
  &__sidebar {
    position: fixed;
    width: 260px;
    height: 100vh;
    background-color: $c-white;
    overflow: hidden;
    z-index: 100000;
    transition: 0.2s;
    @media screen and (max-width: 768px) {
      right: -260px;
    }
    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      margin: 0 20px;
      border-bottom: 1px solid rgba($c-flint, 0.3);
      span {
        text-transform: uppercase;
        color: $c-flint;
        letter-spacing: 1px;
      }
    }
    &__menu-list {
      margin-top: 20px;
    }
    &__menu-item {
      position: relative;
    }
    &__menu-link {
      display: flex;
      align-items: center;
      color: $c-flint;
      font-weight: bolder;
      opacity: 0.8;
      padding: 16px 0;
      i {
        font-size: 24px;
      }
      span {
        margin-left: 16px;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
    &__menu-item--active {
      &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 32px;
        background-color: $c-flamingo;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      a {
        color: $c-flamingo;
        margin-left: 20px;
      }
    }
  }
  &__main {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    transition: 0.2s;
    width: calc(100% - 260px);
    float: right;
    background-color: $c-pampas;
    height: 100vh;
    &__header {
      padding: 10px 20px;
      height: 65px;
      position: relative;
      border-bottom: 1px solid rgba($c-flint, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__title {
        font-weight: bolder;
        color: $c-flint;
      }
      .menu-toggle {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
      &__function {
        form {
          display: flex;
          align-items: center;
          border: 2px solid $c-white;
          padding: 0 8px;
          background-color: $c-white;
          border-radius: 50px;
          box-shadow: 0px 0px 16px rgba($c-flint, 0.3);
          @media screen and (max-width: 768px) {
            position: fixed;
            left: 50%;
            top: 82px;
            transform: translateX(-50%);
          }
          input {
            width: 250px;
            border: none;
            outline: none !important;
            padding: 8px 16px;
            border-radius: 50px;
          }
          button {
            width: 30px;
            height: 30px;
            background-color: $c-flamingo;
            color: $c-white;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            border: none;
            outline: none;
          }
        }
      }
    }
    &__content {
      @media screen and (max-width: 768px) {
        margin-top: 48px;
      }
      &__card {
        background-color: $c-white;
        border-radius: 10px;
        box-shadow: 0px 0px 16px rgba($c-flint, 0.3);
        &__banner {
          height: 150px;
          overflow: hidden;
          img {
            border-radius: 10px 10px 0 0;
          }
        }
        &__content {
          text-align: center;
          &__author {
            margin-top: -48px;
            img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              border: 5px solid $c-white;
            }
            a {
              color: $c-ash;
            }
            h4 {
              color: $c-flint;
              font-size: 20px;
              font-weight: bolder;
              margin: 12px 0 4px;
            }
          }
          &__description {
            padding: 16px 0 32px;
          }
        }
      }
      &__member {
        background-color: $c-white;
        margin: 24px 0;
        padding: 16px;
        box-shadow: 0px 0px 16px rgba($c-flint, 0.3);
        border-radius: 10px;
        &__title {
          font-size: 18px;
        }
        &__list {
          &__item {
            display: flex;
            &:not(:last-child) {
              border-bottom: 1px solid $c-dawn-pink;
              margin-bottom: 8px;
              padding-bottom: 8px;
            }
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            &__info {
              margin-left: 16px;
              span:nth-child(2) {
                display: block;
                color: rgba($c-flint, 0.3);
                .fa {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      &__form {
        background-color: $c-white;
        padding: 16px;
        box-shadow: 0px 0px 16px rgba($c-flint, 0.3);
        border-radius: 10px;
        &__title {
          font-size: 18px;
        }
      }
      &__table {
        padding: 32px;
        border-radius: 10px;
        box-shadow: 0px 0px 16px rgba($c-flint, 0.3);
        background-color: $c-white;
        img {
          width: 50px;
          height: 50px;
        }
        .table-responsive-xxl {
          height: 344px;
          textarea {
            height: 38px;
          }
          .tb-image {
            float: left;
            margin-right: 8px;
          }
          label {
            position: relative;
            overflow: hidden;
            display: block;
            width: 50px;
            height: 50px;
          }
          input[type="file"] {
            position: absolute;
            width: 1000px;
            height: 1000px;
            bottom: 0;
            right: 0;
            z-index: 1000000;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .show {
      right: 0;
    }
    .move {
      transform: translateX(-260px);
    }
  }
}

.invalid-tooltip {
  right: 0;
  font-size: 12px;
}

.btn-orange {
  background-color: $c-flamingo;
  &:hover {
    background-color: $c-flamingo-1;
  }
}

.box-modal {
  box-shadow: 0px 0px 32px rgba($c-flint, 0.5);
  padding: 16px 0;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  font-weight: bolder;
  position: fixed;
  right: -100%;
  bottom: 16px;
  transition: 0.5s;
}
