$c-white: #ffffff;
$c-gallery: #f0f0f0;
$c-black: #000000;
$c-di-serria: #d2a451;
$c-mine-shaft: #282828;
$c-soft-amber: #ccbeb1;
$c-pesto: #8a733f;
$c-silver: #bebebe;
$c-gold: #ffd200;
$c-flamingo: #eb5e28;
